<div class="container ">
  <h2 class="text-center mb-4">Rutas Disponibles</h2>

  <div *ngIf="cargando" class="text-center">Cargando datos...</div>
  <div *ngIf="!cargando && rutasFiltradas().length === 0" class="alert alert-warning text-center">No hay rutas disponibles en este momento.</div>

<div class="card mb-4" [formGroup]="filtrosForm">
  <div class="card-body">
    <h5 class="card-title">Filtros</h5>
    <div class="row g-3">
      <div class="col-md-2">
        <label class="form-label">Precio mínimo</label>
        <input type="number" class="form-control" formControlName="precioMin">
      </div>
      <div class="col-md-2">
        <label class="form-label">Precio máximo</label>
        <input type="number" class="form-control" formControlName="precioMax">
      </div>
      <div class="col-md-2">
        <label class="form-label">Tipo contenedor</label>
        <select class="form-select" formControlName="tipoContenedor">
          <option value="">Todos</option>
          <option *ngFor="let tipo of tiposContenedor" [value]="tipo">{{ tipo }}</option>
        </select>
      </div>
    </div>

    <div class="mt-3 text-end">
      <button class="btn btn-secondary me-2" (click)="limpiarFiltros()">Limpiar</button>
      <button class="btn btn-primary me-2 text-white" (click)="filtrarRutas()">Aplicar filtros</button>
      <button class="btn btn-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#filtrosAvanzados" aria-expanded="false" aria-controls="filtrosAvanzados">
        Filtros Avanzados
      </button>
    </div>
  </div>

  <div class="collapse" id="filtrosAvanzados">
    <div class="card card-body mb-3">
      <div class="row g-3">
        <div class="col-md-6">
          <label>Puerto de Salida</label>
          <input type="text" class="form-control" formControlName="origin">
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="row" *ngIf="rutasFiltradas().length > 0">
    <div class="col-md-6 mb-3" *ngFor="let ruta of rutasFiltradas()">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h4 class="card-title">{{ ruta.origin }} → {{ ruta.destination }}</h4>
          <div class="card-text">
            <p class="mb-0">Precios:</p>
            <div *ngFor="let linea of ruta.lines">
              <p class="mb-0 ms-3">- {{ linea?.currency }}{{ linea?.value }} ({{ linea?.chargeCode }})</p>
            </div>
          </div>
          <div class="card-text row mt-2">
            <div class="col-6">
              <p class="mb-0">Tipo de contenedor: <strong>{{ ruta.category }}</strong></p>
            </div>
            <div class="col-6 text-end">
              <p class="mb-1">Duración: {{ ruta.freeDays }} días</p>
            </div>
          </div>
          <div class="text-end">
            <button class="btn btn-primary text-white w-50" (click)="prebook(ruta)">Prebook</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>