<div class="container pb-4">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 align-items-center">
      <h1 class="">Conozca la mejor tarifa para su mercancia</h1>
    </div>
  </div>
</div>

<form [formGroup]="formulario" (ngSubmit)="buscar()" class="container">
  <div class="row">
    <div class="col-3 position-relative">
      <label for="puertoSalida" class="form-label">Puerto de salida</label>
      <input
        id="puertoSalida"
        type="text"
        class="form-control"
        formControlName="puertoSalida"
        (input)="filtrarPuertos('puertoSalida')"
        autocomplete="off"
        placeholder="Ej: Valparaíso"
      />

      <ul class="list-group position-absolute w-100 z-3 mt-1" *ngIf="sugerenciasSalida.length > 0">
        <li
          class="list-group-item list-group-item-action"
          *ngFor="let sugerencia of sugerenciasSalida"
          (click)="seleccionarPuerto('puertoSalida', sugerencia)"
        >
          <div>
            {{ sugerencia.country_name}}
          </div>
          <div>
            <span class="text-muted">{{sugerencia.region}}</span>, <strong>{{ sugerencia.name }}</strong>
          </div>
        </li>
      </ul>
      <div class="text-danger small" *ngIf="campoInvalido('puertoSalida')">Este campo es obligatorio</div>
    </div>

    <div class="col-3 position-relative">
      <label for="puertoLlegada" class="form-label">Puerto de llegada</label>
      <input
        id="puertoLlegada"
        type="text"
        class="form-control"
        formControlName="puertoLlegada"
        (input)="filtrarPuertos('puertoLlegada')"
        autocomplete="off"
        placeholder="Ej: Barcelona"
      />

      <ul class="list-group position-absolute w-100 z-3 mt-1" *ngIf="sugerenciasLlegada.length > 0">
        <li
          class="list-group-item list-group-item-action"
          *ngFor="let sugerencia of sugerenciasLlegada"
          (click)="seleccionarPuerto('puertoLlegada', sugerencia)"
        >
          <div>
            {{ sugerencia.country_name}}
          </div>
          <div>
            <span class="text-muted">{{sugerencia.region}}</span>, <strong>{{ sugerencia.name }}</strong>
          </div>
        </li>
      </ul>
      <div class="text-danger small" *ngIf="campoInvalido('puertoLlegada')">Este campo es obligatorio</div>
    </div>

    <div class="col-3">
      <label for="fecha" class="form-label mb-0">Fecha</label>
      <input type="date" id="fecha" class="form-control" formControlName="fecha">
      <div class="text-darger small" *ngIf="campoInvalido('fecha')">
        <ng-container *ngIf="formulario.get('fecha')?.errors?.['required']">
          Debe seleccionar una fecha
        </ng-container>
        <ng-container *ngIf="formulario.get('fecha')?.errors?.['fechaPasada']">
          La fecha no puede ser anterior a hoy.
        </ng-container>
      </div>
    </div>

    <div class="col-3">
      <label for="tipo" class="form-label mb-0">Tipo de contenedor</label>
      <select id="tipo" class="form-select" formControlName="tipo">
        <option value="">Seleccione</option>
        <option value="FTL">FTL</option>
        <option value="FCL">FCL</option>
        <option value="Aereo">Aéreo</option>
      </select>
      <div class="text-danger small" *ngIf="campoInvalido('tipo')">Este campo es obligatorio</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 ms-auto mt-3">
      <button type="submit" class="btn btn-primary text-white w-100" (click)="mostrar = true">Buscar</button>
    </div>
  </div>

  <app-prebook-list *ngIf="mostrar"></app-prebook-list>
</form>